@model HomeViewModel


<style>

    #listagem{
        padding-top:100px;
        padding-bottom:70px;
    }

</style>

<partial name ="_Carousel" />


<h2 id="listagem">Imóveis em alta</h2>

<div class="row">
    @foreach(var imovel in Model.ImoveisDestaques)
    {
        <partial name="_ImoveisResumo" for="@imovel"/>
    }
</div>