@model HomeViewModel


<partial name ="_Carousel" />


<h2>Imóveis em alta</h2>

<div class="row">
    @foreach(var imovel in Model.ImoveisDestaques)
    {
        <partial name="_ImoveisResumo" for="@imovel"/>
    }
</div>