@model CarrinhoReservaViewModel

<style>
    #interesse{
        margin-top:20px;
    }
</style>



<div>
    <h4>Imóveis que te interessaram:</h4>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th class="text-center">Preço</th>
            
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model.CarrinhoReserva.CarrinhoReservaImoveis)
        {
            <tr>
                <td class="text-center"><img src="@item.Imovel.ImagemThumbnailUrl" class="img-fluid rounded-3" style="width: 120px;" /></td>
                <td class="text-left">@item.Imovel.NomeImovel</td>
                <td class="text-center">@item.Imovel.Preco.ToString("c")</td>
                


                <td class="text-center">
                    <a asp-controller="CarrinhoReserva" asp-action="RemoverImovelDoCarrinho" asp-route-imovelid="@item.Imovel.ImovelId"><img src="~/Images/trash.svg">
                     </a>
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="text-right">
    <div class="btn-group">
        <a class="btn btn-success" asp-controller="Interesse" asp-action="Checkout">Confirmar interesse</a>

        <a class="btn btn-primary" asp-controller="Imoveis" asp-action="List">Continuar procurando</a>
    </div>
</div>