@model ImovelListViewModel

<style>

    #listagem {
        padding-top: 10px;
        padding-bottom: 10px;

    }

</style>

    <div>
        <h2 id="listagem">
            @Model.CategoriaAtual
            <hr />
        </h2>
    </div>


@foreach(var imovel in Model.Imoveis)
{

   <partial name="_ImoveisResumo" for="@imovel"/>
    
}

