
<style>
    #txt{
        padding-top:30px;
    }
</style>


<table >
    <tr>
        <td id="txt">
            <img src="~/Images/2991252.png" class="img-fluid" width="300px" />

        <td>
            <h3>Bem vindo, essa é a área de administração</h3>
            <h4>Aqui você pode realizar alterações e criar novos itens.</h4>
        </td>
    </tr>

</table>

<div class="col-12" id="txt">
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar para Home</a>
</div>