<div class="container">
    <div class="image-container">
        <img src="~/Images/principal.jpg" alt="Imagem">
    </div>
    <div class="text-imagem">
        <h1 id="textoprincipal">Pensando em viajar?</h1>
        <h2 id="subtexto">Nós temos opções...</h2>
        
        <form class="col-form-label-lg" asp-controller="Imoveis" asp-action="Search" method="get">
            
                <input type="text" class="form-control" placeholder="Digite a cidade" name="searchString" value="@ViewData["searchString"]" />

           
        </form>
        </div>
</div>

    


 

      
