

<div class="image-container">

    <img src="~/css/Images/shutters-669296_1280.jpg" class="image-container"/>

    <div class="texto-imagem">

      <h1>Pensando em viajar?</h1>

      <h2>Nós temos opções...</h2>

      <br>
      <input class="form-control form-control-lg col-7" id ="busca"type="search" placeholder="Endereço, Cidade ou código de imóvel.">
      <a class="btn btn-light btn-primary" id="ver" href="Imóveis.html" role="button">Ver imóveis</a>

    </div>

  </div>



 

      
