<div class="container">
    <div class="image-container">
        <img src="~/Images/principal.jpg" alt="Imagem">
    </div>
    <div class="text-imagem">
        <h1 id="textoprincipal">Pensando em viajar?</h1>
        <h2 id="subtexto">Nós temos opções...</h2>
        <input class="form-control form-control-lg col-12" asp-action="Search" method="get" id="input" type="search" placeholder="Endereço, Cidade ou código de imóvel.">
       
    </div>
</div>


 

      
