<div class="container">
    <div class="image-container">
        <img src="~/Images/principal.jpg" alt="Imagem">
    </div>
    <div class="text-imagem">
        <h1 id="textoprincipal">Pensando em viajar?</h1>
        <h2 id="subtexto">Nós temos opções...</h2>
        <input class="form-control form-control-lg col-12" id="input" type="search" placeholder="Endereço, Cidade ou código de imóvel.">
        <a class="btn btn-light btn-primary" id="" href="Imóveis.html" role="button">Ver imóveis</a>
    </div>
</div>


 

      
